Repository dotnet/android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonpryor, @pjcollins, @grendello, @directhex, @jonathanpeppers, @radekdoulik, @dellis1972, @mcumming

BuildAotApplicationWithSpecialCharactersInProject test cases work now?
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/AotTests.cs
Owners: @dellis1972, @jonathanpeppers

Update source.gdnsuppress
  .gdn/source.gdnsuppress
Owners: @jonpryor

Update guardian files
  .gdn/.gdn/policheck/CHT.gdnsuppress
  .gdn/.gdnsuppress
  .gdn/CHT.gdnsuppress
  .gdn/policheck/CHT.gdnsuppress
  .gdn/policheck/PoliCheck.Exclusions.xml
  .gdn/policheck/source.gdnsuppress
  build-tools/automation/azure-pipelines.yaml
Owners: @jonpryor, @pjcollins

Remove dupe folder
  .gdn/.gdn/policheck/CHT.gdnsuppress
Owners: @jonpryor

Update AotTests.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/AotTests.cs
Owners: @dellis1972, @jonathanpeppers

Fix race condition regarding decompress_here
  src/Mono.Android/Xamarin.Android.Net/AndroidMessageHandler.cs
Owners: @grendello

Bump monodroid
  .external
Owners: @jonpryor

Set %MSBuildSDKsPath%
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Common/Builder.cs
Owners: @dellis1972, @jonathanpeppers

$(TestSlicerToolVersion) 0.1.0-alpha6
  build-tools/automation/yaml-templates/variables.yaml
Owners: @pjcollins, @jonpryor

Do not store decompress_here
  src/Mono.Android/Xamarin.Android.Net/AndroidMessageHandler.cs
Owners: @grendello

%DOTNETSDK_WORKLOAD_PACK_ROOTS%
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Common/Builder.cs
Owners: @dellis1972, @jonathanpeppers

%DOTNETSDK_WORKLOAD_MANIFEST_ROOTS%
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Common/Builder.cs
Owners: @dellis1972, @jonathanpeppers

Formatting
  src/Mono.Android/System.Drawing/PointConverter.cs
  src/Mono.Android/System.Drawing/RectangleConverter.cs
  src/Mono.Android/System.Drawing/SizeConverter.cs
  src/Mono.Android/System.Drawing/SizeFConverter.cs
Owners: @jonpryor

[Mono.Android] fix a set of the "easiest" trimmer warnings (#8731)
  src/Mono.Android/Android.Graphics/Color.cs
  src/Mono.Android/Android.Runtime/IJavaObjectValueMarshaler.cs
  src/Mono.Android/System.Drawing/PointConverter.cs
  src/Mono.Android/System.Drawing/RectangleConverter.cs
  src/Mono.Android/System.Drawing/SizeConverter.cs
  src/Mono.Android/System.Drawing/SizeFConverter.cs
  src/Mono.Android/Xamarin.Android.Net/AndroidClientHandler.cs
Owners: @jonpryor, @grendello

[Java.Interop.Tools.JavaCallableWrappers] fix net8.0 targeting in XA (#1197)
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.csproj
Owners: @jonpryor

Revert "Revert "Bring over `NullableAttributes.cs`""
  src-ThirdParty/System.Diagnostics.CodeAnalysis/NullableAttributes.cs
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
Owners: @jonpryor, @dellis1972, @jonathanpeppers

[Mono.Android] fix trimming warnings, part 2
  src/Mono.Android/Android.App/Activity.cs
  src/Mono.Android/Android.App/Dialog.cs
  src/Mono.Android/Android.App/FragmentManager.cs
  src/Mono.Android/Android.Runtime/AndroidRuntime.cs
  src/Mono.Android/Android.Runtime/Extensions.cs
  src/Mono.Android/Android.Runtime/JNINativeWrapper.cs
  src/Mono.Android/Android.Runtime/JavaProxyThrowable.cs
  src/Mono.Android/Android.Runtime/ResourceDesignerAttribute.cs
  src/Mono.Android/Android.Runtime/ResourceIdManager.cs
  src/Mono.Android/Android.Views/View.cs
  src/Mono.Android/Android.Views/Window.cs
  src/Mono.Android/Java.Interop/JavaObjectExtensions.cs
  src/Mono.Android/Java.Interop/TypeManager.cs
Owners: @jonpryor

Update HardwareBufferUsage.cs with `[Flags]`
  src/Mono.Android/Android.Hardware/HardwareBufferUsage.cs
Owners: @jonpryor

[Java.Interop.Tools.TypeNameMappings] fix `ToJniName()` (#1198)
  external/Java.Interop/src/Java.Interop.Tools.TypeNameMappings/Java.Interop.Tools.TypeNameMappings/JavaNativeTypeManager.cs
  external/Java.Interop/tests/Java.Interop.Tools.JavaCallableWrappers-Tests/Java.Interop.Tools.JavaCallableWrappers/JavaNativeTypeManagerTests.cs
Owners: @jonpryor

Add test
  tests/Mono.Android-Tests/Xamarin.Android.Net/AndroidMessageHandlerTests.cs
Owners: @jonpryor

Remove disposing of request content
  src/Mono.Android/Xamarin.Android.Net/AndroidMessageHandler.cs
Owners: @grendello

$(AndroidPackVersionSuffix)=preview.3; net9 is 34.99.0.preview.3
  Directory.Build.props
Owners: @jonpryor

Revert "Revert "Revert "Bring over `NullableAttributes.cs`"""
  src-ThirdParty/System.Diagnostics.CodeAnalysis/NullableAttributes.cs
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
Owners: @jonpryor, @dellis1972, @jonathanpeppers

Update BuildReleaseArm64XFormsDotNet.apkdesc
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Resources/Base/BuildReleaseArm64XFormsDotNet.apkdesc
Owners: @dellis1972, @jonathanpeppers

Update sdl task params
  build-tools/automation/azure-pipelines.yaml
Owners: @pjcollins, @jonpryor

Use yaml templates main
  build-tools/automation/azure-pipelines.yaml
Owners: @pjcollins, @jonpryor

[Java.Interop.Tools.TypeNameMappings] introduce project for net8.0 (#1199)
  external/Java.Interop/Java.Interop.sln
  external/Java.Interop/src/Java.Interop.Tools.TypeNameMappings/Java.Interop.Tools.TypeNameMappings.csproj
Owners: @jonpryor

[Mono.Android] Do not dispose request content stream in AndroidMessageHandler (#8764)
  src/Mono.Android/Xamarin.Android.Net/AndroidMessageHandler.cs
  tests/Mono.Android-Tests/Xamarin.Android.Net/AndroidMessageHandlerTests.cs
Owners: @grendello, @jonpryor

$(AndroidPackVersionSuffix)=preview.3; net9 is 34.99.0.preview.3 (#8765)
  Directory.Build.props
Owners: @jonpryor

[tests] ignore `IncrementalFastDeployment` for now
  tests/MSBuildDeviceIntegration/Tests/InstallTests.cs
Owners: @jonpryor

Update JavaProxyThrowable.cs
  src/Mono.Android/Android.Runtime/JavaProxyThrowable.cs
Owners: @jonpryor

`#pragma warning disable IL3050`
  src/Mono.Android/Android.Runtime/JNINativeWrapper.cs
  src/Mono.Android/Java.Interop/JavaObjectExtensions.cs
Owners: @jonpryor

[tests] ignore `IncrementalFastDeployment` for now
  tests/MSBuildDeviceIntegration/Tests/InstallTests.cs
Owners: @jonpryor

Bump to xamarin/monodroid@e13723e701
  .external
Owners: @jonpryor

Update apkdesc files
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Resources/Base/BuildReleaseArm64SimpleDotNet.apkdesc
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Resources/Base/BuildReleaseArm64XFormsDotNet.apkdesc
Owners: @dellis1972, @jonathanpeppers

Add more events
  src/monodroid/jni/monodroid-glue-internal.hh
  src/monodroid/jni/monodroid-glue.cc
  src/monodroid/jni/timing-internal.cc
  src/monodroid/jni/timing-internal.hh
Owners: @jonpryor, @grendello

Test new windows pool
  build-tools/automation/yaml-templates/stage-msbuild-tests.yaml
  build-tools/automation/yaml-templates/variables.yaml
Owners: @pjcollins, @jonpryor

Bump to xamarin/monodroid@e13723e701 (#8771)
  .external
Owners: @jonpryor

Use new win pool
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/variables.yaml
Owners: @pjcollins, @jonpryor

Invoke boots with pwsh, diagnostic install
  build-tools/automation/yaml-templates/install-global-tool.yaml
  build-tools/automation/yaml-templates/setup-test-environment.yaml
Owners: @pjcollins, @jonpryor

.github/CODEOWNERS:

# xamarin-android Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

# These owners will be the default owners for everything in the repo.
* @jonpryor

# Order is important. The last matching pattern has the most precedence.

/build-tools/api-merge @jonpryor
/build-tools/api-xml-adjuster @jonpryor
/build-tools/automation @pjcollins @jonpryor
/build-tools/cmake @grendello
/build-tools/wrap-sh @grendello
/build-tools/debian-metadata @directhex
/build-tools/enumification-helpers @jonpryor
/build-tools/manifest-attribute-codegen @jonpryor
/build-tools/scripts/PrepareWindows.targets @jonathanpeppers
/build-tools/timing @jonathanpeppers
/build-tools/xaprepare @grendello

/eng @jonathanpeppers @pjcollins @jonpryor

/src/OpenTK-1.0 @radekdoulik @jonpryor
/src/Mono.Android.Export @jonpryor
/src/r8 @jonathanpeppers @jonpryor
/src/Xamarin.Android.Build.Tasks @dellis1972 @jonathanpeppers
/src/Xamarin.Android.Build.Tasks/Linker @jonpryor
/src/Xamarin.Android.Build.Tasks/Utilities/LlvmIrGenerator @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/TypeMap* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/MarshalMethods* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/ApplicationConfig* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/*AssemblyStore* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/AssemblyCompression* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/CompressedAssembl* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/ELFHelper* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/EnvironmentFilesParser* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/JniRemappingAssemblyGenerator* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/NativeTypeMappingData* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/NdkTools @grendello
/src/Xamarin.Android.NamingCustomAttributes @jonpryor
/src/Xamarin.Android.Tools.Aidl @jonpryor
/src/monodroid/ @jonpryor @grendello
/src/sqlite-xamarin @grendello
/tests/TestRunner.* @grendello
/tests/BCL-Tests @grendello
/tests/CodeBehind @grendello
/src/Mono.Android/Xamarin.Android.Net @grendello
/build-tools/scripts/dependencies @grendello

# Android Designer team relies on the files in this directory,
# any changes there should be ran past them
/src/Mono.Android/java/mono/android/ @mcumming @jonpryor
/src/Xamarin.Android.Build.Tasks/MSBuild/Xamarin/Android/Xamarin.Android.Designer.targets @mcumming @jonpryor

/tools/assembly-store-reader @grendello
/tools/decompress-assemblies @grendello
/tools/jit-times @jonpryor
/tools/setup-windows @jonathanpeppers @jonpryor
/tools/tmt @grendello
