Repository dotnet/android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonpryor, @pjcollins, @grendello, @directhex, @jonathanpeppers, @radekdoulik, @dellis1972, @mcumming

.github/CODEOWNERS:

# xamarin-android Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

# These owners will be the default owners for everything in the repo.
* @jonpryor

# Order is important. The last matching pattern has the most precedence.

/build-tools/api-merge @jonpryor
/build-tools/api-xml-adjuster @jonpryor
/build-tools/automation @pjcollins @jonpryor
/build-tools/cmake @grendello
/build-tools/wrap-sh @grendello
/build-tools/debian-metadata @directhex
/build-tools/enumification-helpers @jonpryor
/build-tools/manifest-attribute-codegen @jonpryor
/build-tools/scripts/PrepareWindows.targets @jonathanpeppers
/build-tools/timing @jonathanpeppers
/build-tools/xaprepare @grendello

/eng @jonathanpeppers @pjcollins @jonpryor

/src/OpenTK-1.0 @radekdoulik @jonpryor
/src/Mono.Android.Export @jonpryor
/src/r8 @jonathanpeppers @jonpryor
/src/Xamarin.Android.Build.Tasks @dellis1972 @jonathanpeppers
/src/Xamarin.Android.Build.Tasks/Linker @jonpryor
/src/Xamarin.Android.Build.Tasks/Utilities/LlvmIrGenerator @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/TypeMap* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/MarshalMethods* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/ApplicationConfig* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/*AssemblyStore* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/AssemblyCompression* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/CompressedAssembl* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/ELFHelper* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/EnvironmentFilesParser* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/JniRemappingAssemblyGenerator* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/NativeTypeMappingData* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/NdkTools @grendello
/src/Xamarin.Android.NamingCustomAttributes @jonpryor
/src/Xamarin.Android.Tools.Aidl @jonpryor
/src/monodroid/ @jonpryor @grendello
/src/sqlite-xamarin @grendello
/tests/TestRunner.* @grendello
/tests/BCL-Tests @grendello
/tests/CodeBehind @grendello
/src/Mono.Android/Xamarin.Android.Net @grendello
/build-tools/scripts/dependencies @grendello

# Android Designer team relies on the files in this directory,
# any changes there should be ran past them
/src/Mono.Android/java/mono/android/ @mcumming @jonpryor
/src/Xamarin.Android.Build.Tasks/MSBuild/Xamarin/Android/Xamarin.Android.Designer.targets @mcumming @jonpryor

/tools/assembly-store-reader @grendello
/tools/decompress-assemblies @grendello
/tools/jit-times @jonpryor
/tools/setup-windows @jonathanpeppers @jonpryor
/tools/tmt @grendello

[ci] Migrate to the 1ES template
  build-tools/automation/azure-pipelines-nightly.yaml
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/apk-instrumentation.yaml
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/commercial-build.yaml
  build-tools/automation/yaml-templates/plots-to-appinsights.yaml
  build-tools/automation/yaml-templates/publish-artifact.yaml
  build-tools/automation/yaml-templates/run-designer-tests.yml
  build-tools/automation/yaml-templates/run-emulator-tests.yaml
  build-tools/automation/yaml-templates/run-installer.yaml
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/run-nunit-tests.yaml
  build-tools/automation/yaml-templates/run-sliced-nunit-tests.yaml
  build-tools/automation/yaml-templates/run-xaprepare.yaml
  build-tools/automation/yaml-templates/setup-test-environment.yaml
  build-tools/automation/yaml-templates/setup-ubuntu.yaml
  build-tools/automation/yaml-templates/stage-msbuild-emulator-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-tests.yaml
  build-tools/automation/yaml-templates/upload-results.yaml
  build-tools/automation/yaml-templates/use-dot-net.yaml
  build-tools/automation/yaml-templates/variables.yaml
Owners: @pjcollins, @jonpryor

Revert "Try 7.0.0"
  Directory.Build.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
Owners: @jonpryor, @dellis1972, @jonathanpeppers

$(TestSlicerToolVersion) 0.1.0-alpha7
  build-tools/automation/yaml-templates/variables.yaml
Owners: @pjcollins, @jonpryor

Try to fix variable import
  build-tools/automation/azure-pipelines.yaml
Owners: @pjcollins, @jonpryor

Use rooted template paths
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/apk-instrumentation.yaml
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/commercial-build.yaml
  build-tools/automation/yaml-templates/run-emulator-tests.yaml
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/run-nunit-tests.yaml
  build-tools/automation/yaml-templates/run-sliced-nunit-tests.yaml
  build-tools/automation/yaml-templates/setup-test-environment.yaml
  build-tools/automation/yaml-templates/setup-ubuntu.yaml
  build-tools/automation/yaml-templates/stage-msbuild-emulator-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-tests.yaml
  build-tools/automation/yaml-templates/upload-results.yaml
Owners: @pjcollins, @jonpryor

Rooted template paths take 2
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/apk-instrumentation.yaml
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/commercial-build.yaml
  build-tools/automation/yaml-templates/run-emulator-tests.yaml
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/run-nunit-tests.yaml
  build-tools/automation/yaml-templates/run-sliced-nunit-tests.yaml
  build-tools/automation/yaml-templates/setup-test-environment.yaml
  build-tools/automation/yaml-templates/setup-ubuntu.yaml
  build-tools/automation/yaml-templates/stage-msbuild-emulator-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-tests.yaml
  build-tools/automation/yaml-templates/upload-results.yaml
Owners: @pjcollins, @jonpryor

Use 1es publish for linux build
  build-tools/automation/yaml-templates/build-linux.yaml
Owners: @pjcollins, @jonpryor

Pass use1ESTemplate=true to all signing jobs
  build-tools/automation/azure-pipelines.yaml
Owners: @pjcollins, @jonpryor

[Java.Interop.Tools.TypeNameMappings] fix trimmer warnings (#1194)
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.Adapters/CecilImporter.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.CallableWrapperMembers/CallableWrapperType.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.csproj
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers/CecilExtensions.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers/TypeNameMapGenerator.cs
  external/Java.Interop/src/Java.Interop.Tools.TypeNameMappings/Java.Interop.Tools.TypeNameMappings/JavaNativeTypeManager.cs
Owners: @jonpryor

Use 'output: nuget' instead of NuGetCommand@2
  build-tools/automation/azure-pipelines.yaml
Owners: @pjcollins, @jonpryor

Update sdl repos to scan
  build-tools/automation/azure-pipelines.yaml
Owners: @pjcollins, @jonpryor

[xamarin-android-tools] import $(LibZipSharpVersion) value (#8738)
  external/xamarin-android-tools.override.props
Owners: @jonpryor

Update pools
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
Owners: @pjcollins, @jonpryor

[xamarin-android-tools] import $(LibZipSharpVersion) value (#8738)
  external/xamarin-android-tools.override.props
Owners: @jonpryor

Fixing pools, guardian suppressions
  .gdn/.gdnsettings
  .gdn/.gdnsuppress
  .gdn/.gitignore
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/guardian/CredScanSuppressions.json
  build-tools/automation/guardian/source.gdnsuppress
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-emulator-tests.yaml
Owners: @jonpryor, @pjcollins

Update monodroid guardian files
  .gdn/.gdnsuppress
  build-tools/automation/azure-pipelines.yaml
Owners: @jonpryor, @pjcollins

More windows parallelization, use pipeline outputs for macos build
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
  build-tools/automation/yaml-templates/commercial-build.yaml
  build-tools/automation/yaml-templates/stage-msbuild-tests.yaml
Owners: @pjcollins, @jonpryor

Remove setup-linux, update nightly
  build-tools/automation/azure-pipelines-nightly.yaml
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
  build-tools/automation/yaml-templates/commercial-build.yaml
  build-tools/automation/yaml-templates/publish-artifact.yaml
  build-tools/automation/yaml-templates/run-emulator-tests.yaml
  build-tools/automation/yaml-templates/setup-ubuntu.yaml
  build-tools/automation/yaml-templates/upload-results.yaml
Owners: @pjcollins, @jonpryor

Bump LibZipSharp to 3.1.1 (#228)
  external/xamarin-android-tools/src/Microsoft.Android.Build.BaseTasks/MSBuildReferences.projitems
Owners: @jonpryor

Add a property required by #8478
  src/Xamarin.Android.Build.Tasks/Tasks/BuildApk.cs
Owners: @dellis1972, @jonathanpeppers

Update after `main` merge
  src/Xamarin.Android.Build.Tasks/Utilities/JCWGenerator.cs
Owners: @dellis1972, @jonathanpeppers

Don't require it yet
  src/Xamarin.Android.Build.Tasks/Tasks/BuildApk.cs
Owners: @dellis1972, @jonathanpeppers

Dummy change to kick-off the build
  src/Xamarin.Android.Build.Tasks/Tasks/BuildApk.cs
Owners: @dellis1972, @jonathanpeppers

Undo the former change
  src/Xamarin.Android.Build.Tasks/Tasks/BuildApk.cs
Owners: @dellis1972, @jonathanpeppers

Add a property required by #8478 (#8749)
  src/Xamarin.Android.Build.Tasks/Tasks/BuildApk.cs
Owners: @dellis1972, @jonathanpeppers

bump monodroid, fix mac build source path
  .external
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
Owners: @jonpryor, @pjcollins

`darc update-dependencies --id 213925`
  eng/Version.Details.xml
  eng/Versions.props
Owners: @jonathanpeppers, @pjcollins, @jonpryor

Bump monodroid again, something went wrong it seems
  .external
Owners: @jonpryor

Bring over `NullableAttributes.cs`
  src-ThirdParty/System.Diagnostics.CodeAnalysis/NullableAttributes.cs
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
Owners: @jonpryor, @dellis1972, @jonathanpeppers

no duplicates please
  src/Xamarin.Android.Build.Tasks/Tasks/BuildApk.cs
Owners: @dellis1972, @jonathanpeppers

Set %MSBUILDLOGALLENVIRONMENTVARIABLES%
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Common/Builder.cs
Owners: @dellis1972, @jonathanpeppers

Update result publishing and timeout
  build-tools/automation/azure-pipelines-nightly.yaml
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/run-nunit-tests.yaml
Owners: @pjcollins, @jonpryor

[ci] Always run the MAUI test job
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/variables.yaml
Owners: @pjcollins, @jonpryor

Improve output
  src/monodroid/jni/monodroid-glue.cc
Owners: @jonpryor, @grendello

[Hello-NativeAOTFromJNI] Add NativeAOT sample (#1153)
  external/Java.Interop/Java.Interop.sln
  external/Java.Interop/build-tools/automation/azure-pipelines.yaml
  external/Java.Interop/build-tools/automation/templates/core-tests.yaml
  external/Java.Interop/samples/Hello-NativeAOTFromJNI/App.cs
  external/Java.Interop/samples/Hello-NativeAOTFromJNI/Hello-NativeAOTFromJNI.csproj
  external/Java.Interop/samples/Hello-NativeAOTFromJNI/Hello-NativeAOTFromJNI.targets
  external/Java.Interop/samples/Hello-NativeAOTFromJNI/JavaInteropRuntime.cs
  external/Java.Interop/samples/Hello-NativeAOTFromJNI/ManagedType.cs
  external/Java.Interop/samples/Hello-NativeAOTFromJNI/NativeAotTypeManager.cs
  external/Java.Interop/samples/Hello-NativeAOTFromJNI/README.md
  external/Java.Interop/samples/Hello-NativeAOTFromJNI/java/net/dot/jni/hello/App.java
  external/Java.Interop/samples/Hello-NativeAOTFromJNI/java/net/dot/jni/hello/JavaInteropRuntime.java
  external/Java.Interop/src/Java.Interop/Java.Interop.csproj
  external/Java.Interop/src/Java.Interop/Java.Interop/JniRuntime.JniMarshalMemberBuilder.cs
  external/Java.Interop/src/Java.Interop/Java.Interop/JniRuntime.JniValueManager.cs
  external/Java.Interop/src/Java.Interop/Java.Interop/JniValueMarshaler.cs
  external/Java.Interop/src/Java.Interop/Java.Interop/JniValueMarshalerAttribute.cs
  external/Java.Interop/src/Java.Interop/Java.Interop/ManagedPeer.cs
  external/Java.Interop/src/Java.Interop/Properties/AssemblyInfo.cs
  external/Java.Interop/src/Java.Runtime.Environment/Java.Interop/JreRuntime.cs
  external/Java.Interop/src/Java.Runtime.Environment/Java.Interop/JreTypeManager.cs
  external/Java.Interop/src/Java.Runtime.Environment/Java.Interop/ManagedValueManager.cs
  external/Java.Interop/src/Java.Runtime.Environment/Java.Interop/MonoRuntimeObjectReferenceManager.cs
  external/Java.Interop/src/Java.Runtime.Environment/Java.Interop/MonoRuntimeValueManager.cs
Owners: @jonpryor

Bring over `NullableAttributes.cs`
  src-ThirdParty/System.Diagnostics.CodeAnalysis/NullableAttributes.cs
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
Owners: @jonpryor, @dellis1972, @jonathanpeppers

[ci] Always run the MAUI test job (#8750)
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/variables.yaml
Owners: @pjcollins, @jonpryor

Restore multi-language policheck scan
  .gdn/CHT.gdnsuppress
  .gdn/PoliCheck.Exclusions.xml
  .gdn/tsaoptions-v2.json
  build-tools/automation/azure-pipelines.yaml
Owners: @jonpryor, @pjcollins

Rename gdnsuppress for policheck template
  .gdn/source.gdnsuppress
  build-tools/automation/azure-pipelines.yaml
Owners: @jonpryor, @pjcollins

Revert "Bring over `NullableAttributes.cs`"
  src-ThirdParty/System.Diagnostics.CodeAnalysis/NullableAttributes.cs
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
Owners: @jonpryor, @dellis1972, @jonathanpeppers
