Repository dotnet/android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonpryor, @pjcollins, @grendello, @directhex, @jonathanpeppers, @radekdoulik, @dellis1972, @mcumming

Fix p/invoke tables check script
  build-tools/scripts/generate-pinvoke-tables.sh
Owners: @jonpryor

Fix docs
  Documentation/guides/MSBuildBestPractices.md
Owners: @jonpryor

Avoid a warning
  src/monodroid/jni/xxhash.hh
Owners: @jonpryor, @grendello

Update docs and launch task names
  .vscode/launch.json
  .vscode/tasks.json
  Documentation/guides/MSBuildBestPractices.md
Owners: @jonpryor

rename MacOS->Linux
  Documentation/guides/MSBuildBestPractices.md
Owners: @jonpryor

[Mono.Android] fix a set of the "easiest" trimmer warnings
  build-tools/trim-analyzers/trim-analyzers.targets
  src/Mono.Android/Android.Graphics/Color.cs
  src/Mono.Android/Android.Runtime/IJavaObjectValueMarshaler.cs
  src/Mono.Android/Mono.Android.csproj
  src/Mono.Android/System.Drawing/PointConverter.cs
  src/Mono.Android/System.Drawing/RectangleConverter.cs
  src/Mono.Android/System.Drawing/SizeConverter.cs
  src/Mono.Android/System.Drawing/SizeFConverter.cs
  src/Mono.Android/Xamarin.Android.Net/AndroidClientHandler.cs
Owners: @jonpryor, @grendello

Bump NDK to r26c
  build-tools/xaprepare/xaprepare/ConfigAndData/BuildAndroidPlatforms.cs
Owners: @grendello

Fix AOT profile recording + more Mono.Android tests debug stuff
  src/monodroid/jni/embedded-assemblies-zip.cc
  src/monodroid/jni/monodroid-glue.cc
Owners: @jonpryor, @grendello

﻿Test JI #1174.
  src/Xamarin.Android.Build.Tasks/Tasks/GenerateJavaStubs.cs
Owners: @dellis1972, @jonathanpeppers

Fix the `BuildBasicApplicationAndAotProfileIt` test
  src/monodroid/jni/basic-utilities.cc
  src/monodroid/jni/monodroid-glue.cc
Owners: @jonpryor, @grendello

Debugging MSBuild Tasks (#8730)
  .vscode/launch.json
  .vscode/tasks.json
  Documentation/guides/MSBuildBestPractices.md
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.targets
Owners: @jonpryor, @dellis1972, @jonathanpeppers

Bump NDK to r26c (#8732)
  build-tools/xaprepare/xaprepare/ConfigAndData/BuildAndroidPlatforms.cs
Owners: @grendello

[xaprepare] Make 7zip work with "dangerous" symlinks in ZIPs
  build-tools/xaprepare/xaprepare/ToolRunners/SevenZipRunner.cs
Owners: @grendello

CI doesn't like it, try in a different spot?
  build-tools/xaprepare/xaprepare/ToolRunners/SevenZipRunner.cs
Owners: @grendello

Increase logcat buffer size for tests
  build-tools/scripts/TestApks.targets
Owners: @jonpryor

More verbose logging for apk tests
  build-tools/scripts/TestApks.targets
Owners: @jonpryor

[xamarin-android-tools] import $(LibZipSharpVersion) value
  external/xamarin-android-tools.override.props
Owners: @jonpryor

Update Versions.props
  eng/Versions.props
Owners: @jonathanpeppers, @pjcollins, @jonpryor

Package runtime config blob in the apk when fastdev is used
  src/Xamarin.Android.Build.Tasks/Tasks/BuildApk.cs
  src/monodroid/jni/embedded-assemblies.cc
Owners: @dellis1972, @jonathanpeppers, @jonpryor, @grendello

Check version before passing `-snld`
  build-tools/xaprepare/xaprepare/Application/RegexProgramVersionParser.cs
  build-tools/xaprepare/xaprepare/Application/SevenZipVersionParser.cs
  build-tools/xaprepare/xaprepare/Application/VersionFetchers.cs
  build-tools/xaprepare/xaprepare/ToolRunners/SevenZipRunner.cs
  build-tools/xaprepare/xaprepare/xaprepare.csproj
Owners: @grendello

Feeds for dotnet/runtime 7.0.17
  NuGet.config
  external/Java.Interop.override.props
  external/monodroid.override.props
  external/xamarin-android-tools.override.props
Owners: @jonpryor

[Java.Interop] restore `IL2035` suppression (#1195)
  external/Java.Interop/src/Java.Interop/Java.Interop/JniRuntime.JniMarshalMemberBuilder.cs
Owners: @jonpryor

Feeds for dotnet/runtime 6.0.28
  NuGet.config
  external/Java.Interop.override.props
  external/monodroid.override.props
  external/xamarin-android-tools.override.props
Owners: @jonpryor

Typo -> `3e88dcaf`
  NuGet.config
  external/Java.Interop.override.props
  external/monodroid.override.props
  external/xamarin-android-tools.override.props
Owners: @jonpryor

Restructured document
  Documentation/guides/tracing.md
Owners: @jonpryor

Bump to xamarin/monodroid@cb01503327
  .external
Owners: @jonpryor

[xaprepare] Make 7zip work with "dangerous" symlinks in ZIPs (#8737)
  build-tools/xaprepare/xaprepare/Application/RegexProgramVersionParser.cs
  build-tools/xaprepare/xaprepare/Application/SevenZipVersionParser.cs
  build-tools/xaprepare/xaprepare/Application/VersionFetchers.cs
  build-tools/xaprepare/xaprepare/ToolRunners/SevenZipRunner.cs
  build-tools/xaprepare/xaprepare/xaprepare.csproj
Owners: @grendello

Bring in changes from PR #8478 (#8727)
  src/Xamarin.Android.Build.Tasks/Utilities/ApplicationConfig.cs
  src/Xamarin.Android.Build.Tasks/Utilities/ApplicationConfigNativeAssemblyGenerator.cs
  src/Xamarin.Android.Build.Tasks/Utilities/AssemblyCompression.cs
  src/Xamarin.Android.Build.Tasks/Utilities/LlvmIrGenerator/LlvmIrComposer.cs
  src/Xamarin.Android.Build.Tasks/Utilities/LlvmIrGenerator/LlvmIrGenerator.cs
  src/Xamarin.Android.Build.Tasks/Utilities/LlvmIrGenerator/LlvmIrModule.cs
  src/Xamarin.Android.Build.Tasks/Utilities/LlvmIrGenerator/LlvmIrVariable.cs
  src/Xamarin.Android.Build.Tasks/Utilities/LlvmIrGenerator/MemberInfoUtilities.cs
  src/Xamarin.Android.Build.Tasks/Utilities/LlvmIrGenerator/NativeAssemblerAttribute.cs
  src/Xamarin.Android.Build.Tasks/Utilities/MarshalMethodsNativeAssemblyGenerator.cs
  src/Xamarin.Android.Build.Tasks/Utilities/MonoAndroidHelper.Basic.cs
  src/Xamarin.Android.Build.Tasks/Utilities/MonoAndroidHelper.cs
  src/Xamarin.Android.Build.Tasks/Utilities/TypeMappingReleaseNativeAssemblyGenerator.cs
Owners: @grendello, @dellis1972, @jonathanpeppers

Undo some debug stuff, remove some noise
  build-tools/scripts/TestApks.targets
  src/Mono.Android/Android.Runtime/AndroidEnvironment.cs
  src/Mono.Android/Xamarin.Android.Net/AndroidClientHandler.cs
  src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/targets/Microsoft.Android.Sdk.AssemblyResolution.targets
  src/Xamarin.Android.Build.Tasks/Properties/Resources.resx
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Android/KnownPackages.cs
  src/monodroid/jni/embedded-assemblies-zip.cc
  src/monodroid/jni/embedded-assemblies.cc
  src/monodroid/jni/monodroid-glue.cc
Owners: @jonpryor, @grendello, @dellis1972, @jonathanpeppers

Update to MSBuild.StructuredLogger 2.2.169
  tests/MSBuildDeviceIntegration/MSBuildDeviceIntegration.csproj
Owners: @jonpryor

[Java.Interop.Tools.JavaCallableWrappers] Refactor (#1174)
  external/Java.Interop/src/Java.Interop.Tools.Diagnostics/Java.Interop.Tools.Diagnostics/Diagnostic.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.Adapters/CecilImporter.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.CallableWrapperMembers/CallableWrapperApplicationConstructor.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.CallableWrapperMembers/CallableWrapperConstructor.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.CallableWrapperMembers/CallableWrapperField.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.CallableWrapperMembers/CallableWrapperMethod.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.CallableWrapperMembers/CallableWrapperType.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.CallableWrapperMembers/CallableWrapperTypeAnnotation.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers.csproj
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers/CallableWrapperReaderOptions.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers/CallableWrapperWriterOptions.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers/CecilExtensions.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers/JavaCallableMethodClassifier.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers/JavaCallableWrapperGenerator.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers/JavaPeerStyle.cs
  external/Java.Interop/src/Java.Interop.Tools.JavaCallableWrappers/Java.Interop.Tools.JavaCallableWrappers/JavaTypeScanner.cs
  external/Java.Interop/tests/Java.Interop.Tools.JavaCallableWrappers-Tests/Java.Interop.Tools.JavaCallableWrappers/JavaCallableWrapperGeneratorTests.cs
  external/Java.Interop/tools/jcw-gen/App.cs
  external/Java.Interop/tools/jcw-gen/jcw-gen.csproj
  external/Java.Interop/tools/jcw-gen/jcw-gen.slnf
Owners: @jonpryor

hoist reader_options, writer_options out of the loop.
  src/Xamarin.Android.Build.Tasks/Tasks/GenerateJavaStubs.cs
Owners: @dellis1972, @jonathanpeppers

System.Reflection.Metadata 8.0.0
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
Owners: @dellis1972, @jonathanpeppers

System.CodeDom 8.0.0
  Directory.Build.targets
Owners: @jonpryor

Remove `trim-analyzers.targets` for now
  build-tools/trim-analyzers/trim-analyzers.targets
  src/Mono.Android/Mono.Android.csproj
Owners: @jonpryor

Bump to xamarin/monodroid@cb01503327 (#8742)
  .external
Owners: @jonpryor

Extended timing of the native runtime performance
  src/monodroid/jni/debug.hh
  src/monodroid/jni/monodroid-glue-internal.hh
  src/monodroid/jni/monodroid-glue.cc
  src/monodroid/jni/robin-map.hh
  src/monodroid/jni/strings.hh
  src/monodroid/jni/timing-internal.cc
  src/monodroid/jni/timing-internal.hh
Owners: @jonpryor, @grendello

Try 7.0.0
  Directory.Build.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
Owners: @jonpryor, @dellis1972, @jonathanpeppers

Bump to xamarin/Java.Interop/main@c825dcad (#8701)
  src/Xamarin.Android.Build.Tasks/Tasks/GenerateJavaStubs.cs
Owners: @dellis1972, @jonathanpeppers

[tests] introduce test that builds with `MSBuild.exe`
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/BuildTest2.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Common/Builder.cs
Owners: @dellis1972, @jonathanpeppers

.github/CODEOWNERS:

# xamarin-android Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

# These owners will be the default owners for everything in the repo.
* @jonpryor

# Order is important. The last matching pattern has the most precedence.

/build-tools/api-merge @jonpryor
/build-tools/api-xml-adjuster @jonpryor
/build-tools/automation @pjcollins @jonpryor
/build-tools/cmake @grendello
/build-tools/wrap-sh @grendello
/build-tools/debian-metadata @directhex
/build-tools/enumification-helpers @jonpryor
/build-tools/manifest-attribute-codegen @jonpryor
/build-tools/scripts/PrepareWindows.targets @jonathanpeppers
/build-tools/timing @jonathanpeppers
/build-tools/xaprepare @grendello

/eng @jonathanpeppers @pjcollins @jonpryor

/src/OpenTK-1.0 @radekdoulik @jonpryor
/src/Mono.Android.Export @jonpryor
/src/r8 @jonathanpeppers @jonpryor
/src/Xamarin.Android.Build.Tasks @dellis1972 @jonathanpeppers
/src/Xamarin.Android.Build.Tasks/Linker @jonpryor
/src/Xamarin.Android.Build.Tasks/Utilities/LlvmIrGenerator @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/TypeMap* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/MarshalMethods* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/ApplicationConfig* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/*AssemblyStore* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/AssemblyCompression* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/CompressedAssembl* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/ELFHelper* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/EnvironmentFilesParser* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/JniRemappingAssemblyGenerator* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/NativeTypeMappingData* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/NdkTools @grendello
/src/Xamarin.Android.NamingCustomAttributes @jonpryor
/src/Xamarin.Android.Tools.Aidl @jonpryor
/src/monodroid/ @jonpryor @grendello
/src/sqlite-xamarin @grendello
/tests/TestRunner.* @grendello
/tests/BCL-Tests @grendello
/tests/CodeBehind @grendello
/src/Mono.Android/Xamarin.Android.Net @grendello
/build-tools/scripts/dependencies @grendello

# Android Designer team relies on the files in this directory,
# any changes there should be ran past them
/src/Mono.Android/java/mono/android/ @mcumming @jonpryor
/src/Xamarin.Android.Build.Tasks/MSBuild/Xamarin/Android/Xamarin.Android.Designer.targets @mcumming @jonpryor

/tools/assembly-store-reader @grendello
/tools/decompress-assemblies @grendello
/tools/jit-times @jonpryor
/tools/setup-windows @jonathanpeppers @jonpryor
/tools/tmt @grendello
