Repository dotnet/android, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jonpryor, @pjcollins, @grendello, @directhex, @jonathanpeppers, @radekdoulik, @dellis1972, @mcumming

.github/CODEOWNERS:

# xamarin-android Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners

# These owners will be the default owners for everything in the repo.
* @jonpryor

# Order is important. The last matching pattern has the most precedence.

/build-tools/api-merge @jonpryor
/build-tools/api-xml-adjuster @jonpryor
/build-tools/automation @pjcollins @jonpryor
/build-tools/cmake @grendello
/build-tools/wrap-sh @grendello
/build-tools/debian-metadata @directhex
/build-tools/enumification-helpers @jonpryor
/build-tools/manifest-attribute-codegen @jonpryor
/build-tools/scripts/PrepareWindows.targets @jonathanpeppers
/build-tools/timing @jonathanpeppers
/build-tools/xaprepare @grendello

/eng @jonathanpeppers @pjcollins @jonpryor

/src/OpenTK-1.0 @radekdoulik @jonpryor
/src/Mono.Android.Export @jonpryor
/src/r8 @jonathanpeppers @jonpryor
/src/Xamarin.Android.Build.Tasks @dellis1972 @jonathanpeppers
/src/Xamarin.Android.Build.Tasks/Linker @jonpryor
/src/Xamarin.Android.Build.Tasks/Utilities/LlvmIrGenerator @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/TypeMap* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/MarshalMethods* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/ApplicationConfig* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/*AssemblyStore* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/AssemblyCompression* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/CompressedAssembl* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/ELFHelper* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/EnvironmentFilesParser* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/JniRemappingAssemblyGenerator* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/NativeTypeMappingData* @grendello
/src/Xamarin.Android.Build.Tasks/Utilities/NdkTools @grendello
/src/Xamarin.Android.NamingCustomAttributes @jonpryor
/src/Xamarin.Android.Tools.Aidl @jonpryor
/src/monodroid/ @jonpryor @grendello
/src/sqlite-xamarin @grendello
/tests/TestRunner.* @grendello
/tests/BCL-Tests @grendello
/tests/CodeBehind @grendello
/src/Mono.Android/Xamarin.Android.Net @grendello
/build-tools/scripts/dependencies @grendello

# Android Designer team relies on the files in this directory,
# any changes there should be ran past them
/src/Mono.Android/java/mono/android/ @mcumming @jonpryor
/src/Xamarin.Android.Build.Tasks/MSBuild/Xamarin/Android/Xamarin.Android.Designer.targets @mcumming @jonpryor

/tools/assembly-store-reader @grendello
/tools/decompress-assemblies @grendello
/tools/jit-times @jonpryor
/tools/setup-windows @jonathanpeppers @jonpryor
/tools/tmt @grendello

[tests] fix duplicate sources in `NuGet.config`
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Common/XamarinProject.cs
  tests/MSBuildDeviceIntegration/Tests/InstallTests.cs
Owners: @dellis1972, @jonathanpeppers, @jonpryor

[templates] Remove redundant "template" from display name.
  src/Microsoft.Android.Templates/android-activity/.template.config/template.json
  src/Microsoft.Android.Templates/android-layout/.template.config/template.json
Owners: @jonpryor

Install dotnet tools locally and prepend path
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/install-dotnet-tool.yaml
  build-tools/automation/yaml-templates/setup-test-environment.yaml
Owners: @pjcollins, @jonpryor

Try full tool path
  build-tools/automation/yaml-templates/build-windows.yaml
Owners: @pjcollins, @jonpryor

Use full tool paths
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/run-sliced-nunit-tests.yaml
  build-tools/automation/yaml-templates/setup-test-environment.yaml
Owners: @pjcollins, @jonpryor

Add `ExtraNuGetConfigSources.Distinct ()`
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Common/XamarinProject.cs
Owners: @dellis1972, @jonathanpeppers

[Xamarin.Android.Build.Tasks] set `%(DefineConstantsOnly)` for older API levels
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/GenerateSupportedPlatforms.cs
  src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/in/Microsoft.Android.Sdk.BundledVersions.in.targets
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/BuildTest.cs
Owners: @jonpryor, @dellis1972, @jonathanpeppers

Try to reenable static macos PR build pool
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
Owners: @pjcollins, @jonpryor

Try MAUI-DevDiv pool
  build-tools/automation/yaml-templates/variables.yaml
Owners: @pjcollins, @jonpryor

It's obvious it's about duration...
  src/monodroid/jni/monodroid-glue.cc
  src/monodroid/jni/timing-internal.hh
Owners: @jonpryor, @grendello

[tests] fix duplicate sources in `NuGet.config` (#8772)
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Common/XamarinProject.cs
  tests/MSBuildDeviceIntegration/Tests/InstallTests.cs
Owners: @dellis1972, @jonathanpeppers, @jonpryor

Update FragmentManager.cs
  src/Mono.Android/Android.App/FragmentManager.cs
Owners: @jonpryor

Test new MAUI-1ESPT pool
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/variables.yaml
Owners: @pjcollins, @jonpryor

Update names, dotnet tool install path and lookup
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/install-dotnet-tool.yaml
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/run-sliced-nunit-tests.yaml
  build-tools/automation/yaml-templates/setup-test-environment.yaml
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/Utilities/BaseTest.cs
Owners: @pjcollins, @jonpryor, @dellis1972, @jonathanpeppers

Improve justification message in ResourceIdManager
  src/Mono.Android/Android.Runtime/ResourceIdManager.cs
Owners: @jonpryor

Fix macos pool condition
  build-tools/automation/yaml-templates/build-macos.yaml
  build-tools/automation/yaml-templates/commercial-build.yaml
Owners: @pjcollins, @jonpryor

WIP for writing to file
  src/monodroid/jni/basic-utilities.cc
  src/monodroid/jni/basic-utilities.hh
  src/monodroid/jni/monodroid-glue.cc
  src/monodroid/jni/timing-internal.cc
  src/monodroid/jni/timing-internal.hh
Owners: @jonpryor, @grendello

[Xamarin.Android.Build.Tasks] set `%(DefineConstantsOnly)` for older API levels (#8777)
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/GenerateSupportedPlatforms.cs
  src/Xamarin.Android.Build.Tasks/Microsoft.Android.Sdk/in/Microsoft.Android.Sdk.BundledVersions.in.targets
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/BuildTest.cs
Owners: @jonpryor, @dellis1972, @jonathanpeppers

Update apkdesc
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Resources/Base/BuildReleaseArm64SimpleDotNet.apkdesc
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Resources/Base/BuildReleaseArm64XFormsDotNet.apkdesc
Owners: @dellis1972, @jonathanpeppers

[Mono.Android] fix trimming warnings, part 2 (#8758)
  src/Mono.Android/Android.App/Activity.cs
  src/Mono.Android/Android.App/Dialog.cs
  src/Mono.Android/Android.App/FragmentManager.cs
  src/Mono.Android/Android.Runtime/AndroidRuntime.cs
  src/Mono.Android/Android.Runtime/Extensions.cs
  src/Mono.Android/Android.Runtime/JNINativeWrapper.cs
  src/Mono.Android/Android.Runtime/JavaProxyThrowable.cs
  src/Mono.Android/Android.Runtime/ResourceDesignerAttribute.cs
  src/Mono.Android/Android.Runtime/ResourceIdManager.cs
  src/Mono.Android/Android.Views/View.cs
  src/Mono.Android/Android.Views/Window.cs
  src/Mono.Android/Java.Interop/JavaObjectExtensions.cs
  src/Mono.Android/Java.Interop/TypeManager.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Resources/Base/BuildReleaseArm64XFormsDotNet.apkdesc
Owners: @jonpryor, @dellis1972, @jonathanpeppers

Testing powershell on image
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
Owners: @pjcollins, @jonpryor

Try to add powershell to path for maui test job
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
Owners: @pjcollins, @jonpryor

Simplify macos PR build pool condition
  build-tools/automation/yaml-templates/build-macos.yaml
Owners: @pjcollins, @jonpryor

Remove the disabling of CS0618
  src/Xamarin.Android.Build.Tasks/Tasks/GenerateLayoutBindings.CSharpBindingGenerator.cs
Owners: @dellis1972, @jonathanpeppers

[LayoutBindings] LayoutBindings: 'PreserveAttribute' is obsolete warnings
  src/Xamarin.Android.Build.Tasks/Tasks/GenerateLayoutBindings.BindingGenerator.cs
  src/Xamarin.Android.Build.Tasks/Tasks/GenerateLayoutBindings.CSharpBindingGenerator.cs
  src/Xamarin.Android.Build.Tasks/Tasks/GenerateResourceDesignerIntermediateClass.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/CodeBehindTests.cs
  tests/CodeBehind/BuildTests/CodeBehindBuildTests.NET.csproj
  tests/CodeBehind/BuildTests/Properties/AndroidManifest.xml
Owners: @dellis1972, @jonathanpeppers, @grendello

Fix some tests
  src/Xamarin.Android.Build.Tasks/Resources/LayoutBinding.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/CodeBehindTests.cs
  tests/CodeBehind/BuildTests/MainMergeActivity.cs
  tests/CodeBehind/CommonSampleLibrary/CommonSampleLibrary.NET.csproj
  tests/CodeBehind/CommonSampleLibrary/Logger/LogFragment.cs
Owners: @dellis1972, @jonathanpeppers, @grendello

Fix up some more
  src/Xamarin.Android.Build.Tasks/Resources/LayoutBinding.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/CodeBehindTests.cs
Owners: @dellis1972, @jonathanpeppers

Revert this change
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/CodeBehindTests.cs
Owners: @dellis1972, @jonathanpeppers

Update apkdesc
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Resources/Base/BuildReleaseArm64XFormsDotNet.apkdesc
Owners: @dellis1972, @jonathanpeppers

[ci] Migrate to the 1ES template (#8747)
  .gdn/.gdnsettings
  .gdn/.gdnsuppress
  .gdn/.gitignore
  .gdn/policheck/CHT.gdnsuppress
  .gdn/policheck/PoliCheck.Exclusions.xml
  .gdn/policheck/source.gdnsuppress
  .gdn/tsaoptions-v2.json
  build-tools/automation/azure-pipelines-nightly.yaml
  build-tools/automation/azure-pipelines.yaml
  build-tools/automation/guardian/CHT.gdnsuppress
  build-tools/automation/guardian/CredScanSuppressions.json
  build-tools/automation/guardian/source.gdnsuppress
  build-tools/automation/yaml-templates/apk-instrumentation.yaml
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/commercial-build.yaml
  build-tools/automation/yaml-templates/install-dotnet-tool.yaml
  build-tools/automation/yaml-templates/plots-to-appinsights.yaml
  build-tools/automation/yaml-templates/publish-artifact.yaml
  build-tools/automation/yaml-templates/run-designer-tests.yml
  build-tools/automation/yaml-templates/run-emulator-tests.yaml
  build-tools/automation/yaml-templates/run-installer.yaml
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/run-nunit-tests.yaml
  build-tools/automation/yaml-templates/run-sliced-nunit-tests.yaml
  build-tools/automation/yaml-templates/run-xaprepare.yaml
  build-tools/automation/yaml-templates/setup-test-environment.yaml
  build-tools/automation/yaml-templates/setup-ubuntu.yaml
  build-tools/automation/yaml-templates/stage-msbuild-emulator-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-tests.yaml
  build-tools/automation/yaml-templates/upload-results.yaml
  build-tools/automation/yaml-templates/use-dot-net.yaml
  build-tools/automation/yaml-templates/variables.yaml
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/Utilities/BaseTest.cs
Owners: @jonpryor, @pjcollins, @dellis1972, @jonathanpeppers

[ci] Do not use @self annotation for templates
  build-tools/automation/yaml-templates/apk-instrumentation.yaml
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/commercial-build.yaml
  build-tools/automation/yaml-templates/run-emulator-tests.yaml
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/run-nunit-tests.yaml
  build-tools/automation/yaml-templates/run-sliced-nunit-tests.yaml
  build-tools/automation/yaml-templates/setup-test-environment.yaml
  build-tools/automation/yaml-templates/stage-msbuild-emulator-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-tests.yaml
  build-tools/automation/yaml-templates/upload-results.yaml
Owners: @pjcollins, @jonpryor

[ci] Add 1ESPT override to MSBuild test stages
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-emulator-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-tests.yaml
Owners: @pjcollins, @jonpryor

[ci] Do not use @self annotation for templates (#8783)
  build-tools/automation/yaml-templates/apk-instrumentation.yaml
  build-tools/automation/yaml-templates/build-linux.yaml
  build-tools/automation/yaml-templates/build-macos.yaml
  build-tools/automation/yaml-templates/build-windows.yaml
  build-tools/automation/yaml-templates/commercial-build.yaml
  build-tools/automation/yaml-templates/run-emulator-tests.yaml
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/run-nunit-tests.yaml
  build-tools/automation/yaml-templates/run-sliced-nunit-tests.yaml
  build-tools/automation/yaml-templates/setup-test-environment.yaml
  build-tools/automation/yaml-templates/stage-msbuild-emulator-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-tests.yaml
  build-tools/automation/yaml-templates/upload-results.yaml
Owners: @pjcollins, @jonpryor

[ci] Fix SDL Sources Analysis for PRs from forks
  build-tools/automation/azure-pipelines.yaml
Owners: @pjcollins, @jonpryor

[ci] Add 1ESPT override to MSBuild test stages (#8784)
  build-tools/automation/yaml-templates/run-msbuild-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-emulator-tests.yaml
  build-tools/automation/yaml-templates/stage-msbuild-tests.yaml
Owners: @pjcollins, @jonpryor

[ci] Fix SDL Sources Analysis for PRs from forks (#8785)
  build-tools/automation/azure-pipelines.yaml
Owners: @pjcollins, @jonpryor

[Mono.Android] Fix race condition in AndroidMessageHandler (#8753)
  src/Mono.Android/Xamarin.Android.Net/AndroidMessageHandler.cs
Owners: @grendello

[build] Include MIT license in most NuGet packages
  LICENSE.TXT
  build-tools/create-packs/Directory.Build.targets
  build-tools/create-packs/License.targets
Owners: @jonpryor

[docs] update notes about `dotnet-trace` and `dotnet-gcdump` (#8713)
  Documentation/guides/tracing.md
Owners: @jonpryor

Fix assembly count when satellite assemblies are present
  src/Xamarin.Android.Build.Tasks/Tasks/GeneratePackageManagerJava.cs
  src/Xamarin.Android.Build.Tasks/Utilities/MonoAndroidHelper.cs
Owners: @dellis1972, @jonathanpeppers
